@model List<Models.EF.DanhMuc>
@{
    var session = (CamShop.Common.UserLogin)Session[CamShop.Common.CommonConstants.USER_SESSION];
}
<div class="nav top-nav">
    <label class="mobile_menu" for="mobile_menu">
        <span>Menu</span>
    </label>
    <input id="mobile_menu" type="checkbox">
    <ul class="nav">
        @foreach (var item in Model)
        {
            <li>
                <a href="/san-pham/@item.URL-@item.danhMucID" target="@item.Target"><img src="@item.image" alt="" />@item.tenDanhMuc</a>
            </li>
        }
        <li>
            <a href="/gio-hang/" target="_self"><img src="/Assets/client/images/cart.png" alt="" /></a>
        </li>
        @if (session == null)
        {
            <li>
                <a href='/dang-nhap/' target="_self"><img src="/Assets/client/images/user.png" alt="" /></a>
            </li>
        }
        else
        {
            <li style="color: whitesmoke; font-size:20px;">
                <a href="#">Chào @session.Name</a>
                <ul style="color: whitesmoke; font-size:12px">
                    <li><h4><a href='/khach-hang-@session.UserID/' target="_self">Quản lý tài khoản</a></h4></li>
                    <li><h4>@Html.ActionLink("Đăng xuất", "DangXuat", "User")</h4></li>
                </ul>
            </li>
        }
    </ul>
</div>
