@model List<Models.EF.DanhMuc>
<div class="nav top-nav">
    <label class="mobile_menu" for="mobile_menu">
        <span>Menu</span>
    </label>
    <input id="mobile_menu" type="checkbox">
    <ul class="nav">
        @foreach (var item in Model)
        {
            var url ="/san-pham/"+@item.URL + "-" + @item.danhMucID;
            <li>
                <a href="@url" target="@item.Target"><img src="@item.image" alt="" />@item.tenDanhMuc</a>
            </li>
        }
        <li>
            <a href="/gio-hang" target="_self"><img src="/Assets/client/images/cart.png" alt="" /></a>
        </li>
        <li>
            <a href='@Url.Action("Index","Login")' target="_self"><img src="/Assets/client/images/user.png" alt="" /></a>
        </li>
    </ul>
</div>
