@model PagedList.IPagedList<Models.EF.User>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách người dùng</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-bordered" style="width:90%">
    <thead>
        <tr>
            <th>
                ID
            </th>            
            <th>
               Họ tên
            </th>
            <th>
               Email
            </th>
            <th>
               Địa chỉ
            </th>
            <th>
                SĐT
            </th>
            <th width="5%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soDienThoai)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default fa fa-bars dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                     </button>
                   <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li>@Html.ActionLink("Edit", "Edit", new { id = item.ID })</li>
                        <li>@Html.ActionLink("Details", "Details", new { id = item.ID })</li>
                        <li> @Html.ActionLink("Delete", "Delete", new { id = item.ID })</li>
                    </ul>
                </div>
            </td>
            
        </tr>
        }
        </tbody>
</table>
@Html.PagedListPager(Model,page =>Url.Action("Index", new { page }))