@model Models.EF.LoaiHang
@{
    ViewBag.Title = "Chi tiết loại hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết loại hàng</h2>

<div> 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaTitle)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.loaiHangID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Trở lại", "Index", "", new { @class = "btn btn-primary" })
</p>
