@model PagedList.IPagedList<Models.EF.SanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh mục sản phẩm";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh mục sản phẩm</h2>


<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered searchItem" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        Tên loại
                    </th>
                    <th>
                        Thương hiệu
                    </th>
                    <th>
                        Tên sản phẩm
                    </th>
                    <th>
                        Đơn giá
                    </th>
                    <th>
                        Hot status
                    </th>
                    <th>
                        Số lượng
                    </th>
                    <th width="5%"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LoaiHang1.tenLoai)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ThuongHieu1.tenThuongHieu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tenSanPham)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.donGia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hot)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.soLuong)
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default fa fa-bars dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li>@Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.sanPhamID })</li>
                                    <li>@Html.ActionLink("Chi tiết", "Details", new { id = item.sanPhamID })</li>
                                    <li> @Html.ActionLink("Xóa", "Delete", new { id = item.sanPhamID })</li>
                                    @*<li>
                                             @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID}, new AjaxOptions
                                        {
                                            Confirm="Bạn có muốn xóa bản ghi này không?",
                                            OnComplete = "$('#row_" + @item.ID + "').remove()",
                                            HttpMethod = "Delete"
                                        })
                                         </li>*@
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row" style="padding:1em">
    <div style="display:inline-block; float:left">
        @Html.ActionLink("Thêm", "Create", "", new { @class = "btn btn-primary" })
    </div>     
</div>
