@model CamShop.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Shoppy an Admin Panel Category Flat Bootstrap Responsive Website Template | Signup :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <link href="/Assets/admin/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <link href="/Assets/admin/css/style.css" rel="stylesheet" />
    <!--js-->
    <script src="/Assets/admin/js/jquery-2.1.1.min.js"></script>
    <!--icons-css-->
    <link href="/Assets/admin/css/font-awesome.css" rel="stylesheet" />
    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
    <!--//charts-->
</head>
<body>
    <!--inner block start here-->
    <div class="signup-page-main">
        <div class="signup-main">
            <div class="signup-head">
                <h1>Sign Up</h1>
            </div>
            <div class="signup-block">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @if (ViewBag.Success != null)
                    {
                        <div class="alert alert-success">@ViewBag.Success</div>
                    }

                    @*ID*@
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.UserName, new { @placeholder = "Tên đăng nhập", @required = "" })

                    @*Password*@
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    @Html.PasswordFor(model => model.Password, new { @placeholder = "Password", @class = "lock" })

                    @*ConfirmPassword*@
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @placeholder = "Confirm Password", @class = "lock" })


                    @*Họ tên*@
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.Name, new { @placeholder = "Họ tên", @required = "" })


                    @*Địa chỉ*@
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.Address, new { @placeholder = "Địa chỉ", @class = "lock" })


                    @*Email*@
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email", @required = "" })


                    @*Số điện thoại*@
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.Phone, new { @placeholder = "Số điện thoại", @required = "" })


                    <input type="submit" value="Đăng ký" class="btn btn-default" />
                </div>
                }
                <div class="sign-down">
                    <h4>Bạn đã có tài khoản? <a href="#"> Login here.</a></h4>
                    <h5><a href="/">Trở về trang chủ</a></h5>
                </div>
            </div>
        </div>
    </div>
    <!--inner block end here-->

    <!--scrolling js-->
    <script src="/Assets/admin/js/jquery.nicescroll.js"></script>
    <script src="/Assets/admin/js/scripts.js"></script>
    <!--//scrolling js-->
    <script src="/Assets/admin/js/bootstrap.js"></script>
    <!-- mother grid end here-->
</body>
</html>