@model List<CamShop.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sessionUser = Session[CamShop.Common.CommonConstants.USER_SESSION];
}

@section jsCart{
    <script src="/Assets/client/js/cart.js"></script>
}
<div class="cart">
    <div class="container">
        @* div top *@
        <div class="cart-top">
            <a href="/">Trang chủ</a>
        </div>
        @* div trái 9, giỏ hàng *@
        <div class="col-md-9 cart-items">
            <h1>Giỏ hàng</h1>

            @{
                double? tongTien = 0;
            }
            @foreach (var item in Model)
            {
                <div class="cart-header">
                    <div class="close1" data-id="@item.SanPham.sanPhamID"> </div>
                    <div class="cart-sec">
                        <div class="cart-item cyc">
                            <img src="@item.SanPham.hinhAnh" />
                        </div>
                        <div class="cart-item-info">
                            <h3 style="font-size:20px">@item.SanPham.tenSanPham<span style="font-size:15px">@item.SanPham.ThuongHieu1.tenThuongHieu</span></h3>
                            <h4><span>Giá : </span>@item.SanPham.donGia.GetValueOrDefault(0).ToString("N0")<span> VND</span></h4>
                            <p class="qty" style="font-size: 12px; font-weight: 400">Số lượng:</p>
                            <input min="1" type="number" id="Quantity" class="quantity" name="quantity" data-id="@item.SanPham.sanPhamID" value="@item.SoLuong" class="form-control input-small">
                        </div>
                        <div style="width:77%; float:left; padding-bottom: 5px;">
                            <h4 class="itemThanhTien" id="ItemThanhTien" style="margin-top:7px; font-size:20px"><span style="font-size:12px">Thành tiền:</span>  @(item.ThanhTien.HasValue ? @item.ThanhTien.Value.ToString("N0") : (item.SanPham.donGia.GetValueOrDefault(0) * item.SoLuong).ToString("N0"))<span> VND</span></h4>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="delivery">
                            <span>Giao hàng trong vòng 2 - 3 ngày</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                tongTien += item.ThanhTien;
            }
            @if (@tongTien > 0)
            {
                <a style="font-size:15px" href="#" class="btn-delete">Xóa hết</a>
            }
            @if (@tongTien == 0)
            {
                <div style="padding-top:30px; padding-left:30px"><h2>Giỏ hàng rỗng, <a href="/">tiếp tục mua hàng!</a></h2></div>
                
            }
        </div>
        @* div phải 3, thanh toán giỏ hàng *@
        <div class="col-md-3 cart-total">
            <a class="continue" href="#">Tiếp tục mua hàng</a>
            <div class="price-details">
                <h3>Đơn hàng</h3>
                <span>Tạm tính</span>
                <span class="total">@tongTien.GetValueOrDefault(0).ToString("N0") VND</span>
                <span>Khuyến mãi</span>
                <span class="total">---</span>
                <span>Phí giao hàng</span>
                <span class="total">---</span>
                <div class="clearfix"></div>
            </div>
            <h4 class="last-price">Tổng đơn</h4>
            <span class="total final">@tongTien.GetValueOrDefault(0).ToString("N0")<span> VND</span></span>
            <div class="clearfix"></div>
            @if (tongTien == 0)
            {
                <a class="order" href="#">Thanh toán</a>
            }
            @if (tongTien > 0)
            {
                if (sessionUser == null)
                {
                    <a class="order" href="/dang-nhap/">Thanh toán</a>
                }
                else
                {
                    <a class="order" href="/thanh-toan/">Thanh toán</a>
                }

            }

            <div class="total-item">
                <h3>Chức năng</h3>
                <h4>COUPONS</h4>
                <a class="cpns" href="#">Dùng Coupons </a>
                <p><a href="#">Đăng nhập</a> để sử dụng coupons</p>
            </div>
        </div>
    </div>
</div>


