@model IEnumerable<Models.EF.DanhMuc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NhomDanhMuc.tenNhom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenDanhMuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Target)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NhomDanhMuc.tenNhom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenDanhMuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Target)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.danhMucID }) |
            @Html.ActionLink("Details", "Details", new { id=item.danhMucID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.danhMucID })
        </td>
    </tr>
}

</table>
