@model Models.EF.ThuongHieu

@{
    ViewBag.Title = "Chi tiết thương hiệu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết thương hiệu</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenThuongHieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenThuongHieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metaTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metaTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.thuongHieuID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Trở lại", "Index", "", new { @class = "btn btn-default" })
</p>
