@model IEnumerable<Models.EF.ThuongHieu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenThuongHieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.metaTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenThuongHieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.metaTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.thuongHieuID }) |
            @Html.ActionLink("Details", "Details", new { id=item.thuongHieuID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.thuongHieuID })
        </td>
    </tr>
}

</table>
