@model Models.EF.KhachHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cart" style="margin-bottom:150px">
    <div class="container">
        @* div top *@
        <div class="cart-top">
            <a href="/">Trang chú</a>
            <a href="#">/</a>
            <a href="#">Quản lý tài khoản</a>
        </div>
        <div class="col-md-9 cart-items" style="padding-left:50px">
            <h2 style="color:#fead53; text-align:center">Thông tin tài khoản</h2>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Thông tin tài khoản</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="cart-header">
                <div class="cart-sec">
                    <div class="cart-item cyc">
                        <img src="~/Assets/client/images/logo-user.jpg" />
                    </div>
                    <div class="cart-item-info" style="border-bottom:unset">
                        <div><h4><span> </span></h4></div>
                        <div><h4><span>Địa chỉ: </span>@Html.DisplayFor(model => model.diaChi)</h4></div>
                        <div><h4><span>Email: </span>@Html.DisplayFor(model => model.eMail)</h4></div>
                        <div><h4><span>Số điện thoại: </span>@Html.DisplayFor(model => model.soDienThoai)</h4></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><h4 >Họ tên:</h4></label>
                    <div class="col-sm-5"><h3>@Html.DisplayFor(model => model.hoTen)</h3></div>
                </div>
            </div>

        </div>
        <div class="col-md-3" style="padding-top:40px">
            @Html.Partial("DanhMucQLKH")
        </div>
    </div>
</div>
