@*@model CamShop.Models.DoiMatKhau*@

@{
    var session = (CamShop.Common.UserLogin)Session[CamShop.Common.CommonConstants.USER_SESSION];
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cart" style="margin-bottom:150px">
    <div class="container">
        @* div top *@
        <div class="cart-top">
            <a href="/">Trang chú</a>
            <a href="#">/</a>
            <a href="/tai-khoan/">Quản lý tài khoản</a>
        </div>
        <div class="col-md-9" style="padding-top:40px">
            @using (Html.BeginForm("DoiMatKhau", "QuanLyKH", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="table-bordered">
                    <input class="form-control " name="khachHangID" value="@session.UserID" hidden />
                    <input class="form-control " name="userName" value="@session.UserName" hidden />
                    <input class="form-control " name="hoTen" value="@session.Name" hidden />
                    <input class="form-control " name="diaChi" value="@session.Address" hidden />
                    <input class="form-control " name="soDienThoai" value="@session.Phone" hidden />
                     <input class="form-control " name="email" value="@session.Email" hidden />

                    @Html.AntiForgeryToken()
                    <h2 id="form-tittle">Đổi mật khẩu</h2>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Mật khẩu hiện tại:
                        </label>
                        <div class="col-md-5">
                            <input class="form-control " name="passWord" type="password" placeholder="Mật khẩu hiện tại" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Mật khẩu mới:
                        </label>
                        <div class="col-md-5">
                            <input class="form-control " name="newPass" type="password" placeholder="Mật khẩu mới" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Xác nhận mật khẩu:
                        </label>
                        <div class="col-md-5">
                            <input class="form-control " name="confPass" type="password" placeholder="Xác nhận mật khẩu" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Đổi mật khẩu" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-3" style="padding-top:40px">
            @Html.Partial("DanhMucQLKH")
        </div>
    </div>
</div>

