
@{
    ViewBag.Title = "LichSuMuaHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lichsuMuaHang = (List<Models.EF.HoaDon>)ViewBag.lichSuMuaHang;
}

<div class="cart" style="margin-bottom:150px">
    <div class="container">
        @* div top *@
        <div class="cart-top">
            <a href="/">Trang chú</a>
            <a href="#">/</a>
            <a href="/tai-khoan/">Quản lý tài khoản</a>
        </div>
        <div class="col-md-9 cart-items" style="padding-left:50px">
            <h2 style="color:#fead53; text-align:center">Lịch sử mua hàng</h2>
            <hr />
            <div class="card mb-3">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    Mã hóa đơn
                                </th>
                                <th>
                                    Họ tên
                                </th>

                                <th>
                                    Ngày mua
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in lichsuMuaHang)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.hoaDonID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.hoTen)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.ngayTao)
                                    </td>
                                    <td>
                                        @if (item.trangThai == true)
                                        {
                                            <p>Hoàn tất</p>
                                        }
                                        else
                                        {
                                            <p>Trả hàng</p>
                                        }
                                    </td>
                                    <td>
                                        @if (item.trangThai == true)
                                        {

                                            @*@Html.ActionLink("Xem chi tiết", "Details", new { id = item.hoaDonID });
                                            @Html.ActionLink("Giao hàng", "GiaoHang", new { id = item.hoaDonID });*@
                                            <a href="/tra-hang-get-@item.hoaDonID/">Trả hàng</a>
                                        }
                                        else
                                        {
                                            @*@Html.ActionLink("Xem chi tiết", "Details", new { id = item.hoaDonID });
                                            @Html.ActionLink("Giao hàng", "GiaoHang", new { id = item.hoaDonID });*@
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="padding-top:40px">
            @Html.Partial("DanhMucQLKH")
        </div>
    </div>
</div>

