@model CamShop.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Shoppy an Admin Panel Category Flat Bootstrap Responsive Website Template | Login :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <link href="/Assets/admin/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- Custom Theme files -->
    <link href="/Assets/admin/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--js-->
    <script src="~/Assets/admin/js/jquery-2.1.1.min.js"></script>
    <!--icons-css-->
    <link href="/Assets/admin/css/font-awesome.css" rel="stylesheet">
    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
    <!--static chart-->
</head>
<body>
    <div class="login-page">
        <div class="login-main">
            <div class="login-head">
                <h1>Login</h1>
            </div>
            <div class="login-block">
                @using (Html.BeginForm("Login", "KhachHang", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                    @Html.TextBoxFor(model => model.UserName, new { @placeholder = "Tên đăng nhập", @name = "email", @required = "", type = "text" })
                    @*<input type="text" name="email" placeholder="Email" required="">*@
                    @Html.TextBoxFor(model => model.Password, new { @placeholder = "Password", @class = "lock", @name = "password", type = "password", required = "" })
                    @*<input type="password" name="password" class="lock" placeholder="Password">*@
                    <div class="forgot-top-grids">
                        <div class="forgot-grid">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(model => model.RememberMe)Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="forgot">
                            <a href="#">Forgot password?</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <input type="submit" name="Sign In" value="Đăng nhập">
                    <h3>Bạn chưa có tài khoản<a href="dang-ky">Đăng ký</a></h3>
                    <h2>or login with</h2>
                    <div class="login-icons">
                        <ul>
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                }
                <h5><a href="/">Trở lại trang chủ</a></h5>
            </div>
        </div>
    </div>
    <!--inner block end here-->
    <!--copy rights start here-->
   
    <!--COPY rights end here-->
    <!--scrolling js-->
    <script src="/Assets/admin/js/jquery.nicescroll.js"></script>
    <script src="/Assets/admin/js/scripts.js"></script>
    <!--//scrolling js-->
    <script src="/Assets/admin/js/bootstrap.js"></script>
    <!-- mother grid end here-->
</body>
</html>

